*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


body {
    box-sizing: border-box;
    padding: 3rem;

    font-family: 'Zen Old Mincho', serif;
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.7;
    background-color: #2F2F2F;
    color: #E2E2E2;
} 