

$color_white: #FFFFFF;
$color_yellow: #FBF37C;
$color_yellow_light: #FBF37C;
$color_orange: #FCA311;
$color_orange_main: #FCBF49;
$color_gray_dark: #525252;
$color_gray: #7f7f7f88;
$color_gray_light: #E2E2E2;
  