

$color_white: #FFFFFF;
$color_yellow: #FBF37C;
$color_yellow_light: #FBF37C;
$color_orange: #FCA311;
$color_orange_main: #FCBF49;
$color_gray_dark: #58555A;
$color_gray: #7F7F7F;
$color_gray_light: #E2E2E2;
  